body{
    background-color: rgb(135, 135, 218);
    font: normal 15pt Arial;
    
    


}

header{
color: white;
text-align: center;
}

select#flista{
    width: 200px; ;
}


section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);




}


footer{
    color: white;
    text-align: center;
    font-style: italic;



}